<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'profilePage.title' | translate }}</h4>
                        <h6 class="card-subtitle">{{ 'profilePage.subtitle' | translate }}</h6>
                        <form class="form p-t-20" [formGroup]="profileForm" (ngSubmit)="updateUser()">
                            <div class="form-group">
                                <label for="exampleInputuname">{{ 'general.name' | translate }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="text" class="form-control" id="exampleInputuname" formControlName="name" placeholder="{{ 'general.name' | translate }}">
                                </div>
                                <div *ngFor="let error of getControlErrors('name', 'Full name')">
                                    <small class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{ 'general.email' | translate }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" placeholder="{{ 'general.email' | translate }}">
                                </div>
                                <div *ngFor="let error of getControlErrors('email', 'Email')">
                                    <small class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">{{ 'general.confirm' | translate }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>