<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<app-language-selector></app-language-selector>
<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <h1>{{ "registerPage.registerMessage" | translate }}</h1>
            </div>
        </div>
    </div>
</section>