<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{'usersPage.title' | translate}}</h4>
                <h6 class="card-subtitle">{{'usersPage.subtitle' | translate}}</h6>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>IMG</th>
                                <th>{{'general.name' | translate}}</th>
                                <th>{{'general.email' | translate}}</th>
                                <th>{{'general.status' | translate}}</th>
                                <th>{{'general.role' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (user of this.users(); track $index) {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td> <app-table-image [image]="user.image"></app-table-image> </td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>
                                      <span class="badge text-bold"
                                            [class]="{'bg-success': user.status == 'ACTIVE', 'bg-warning': user.status == 'INACTIVE'}">
                                        {{user.status}}
                                      </span>
                                    </td>
                                    <td>
                                      <span class="badge text-bold" [class]="{'bg-dark': user.role == 'ADMIN_ROLE', 'bg-secondary': user.role == 'USER_ROLE'}">
                                        {{user.role}}
                                      </span>
                                    </td>
                                    <td>
                                      <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle text-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{'general.options' | translate}}
                                        </button>
                                        <div class="dropdown-menu">
                                            <a (click)="setUserToEdit(user)" data-toggle="modal" data-target=".bs-example-modal-lg"
                                               class="dropdown-item cursor-pointer">
                                              {{'general.edit' | translate}}
                                            </a>
                                            <a class="dropdown-item cursor-pointer">{{'general.disable' | translate}}</a>
                                            <a class="dropdown-item cursor-pointer text-danger">{{'general.delete' | translate}}</a>
                                        </div>
                                    </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if(displayModal){
  <app-edit-user #editUserModalRef
    [user]="userEdit"
    (close)="closeModal()"
    (update)="updateUser($event)"
  ></app-edit-user>
}
