<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="user!.image" alt="user" />
                        <span class="hide-menu">{{ (user?.name)? (user?.name | slice:0:18)+'...':(user?.name) }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                                <i class="mdi mdi-folder-lock-open"></i>
                                <span class="hide-menu">
                                    {{ "headerComponent.myProfile" | translate }} <span class="label label-rouded label-themecolor pull-right text-dark">2</span>
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a routerLink="./profile/personal-info" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                       {{ "sidebar.personal-info" | translate }}
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="./profile/password" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                       {{ "sidebar.password" | translate }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a routerLink="./settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ "sidebar.settings" | translate}}</a></li>
                        <li><a (click)="logout()" class="cursor-pointer">{{ "headerComponent.logout" | translate }}</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li *ngFor="let option_menu of menu"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"
                       *ngIf="option_menu.role_required === user?.role || user?.role === 'ADMIN_ROLE'">
                        <i [class]="option_menu.icon"></i>
                        <span class="hide-menu"> {{ option_menu.title}} 
                            <span class="label label-rouded label-themecolor pull-right text-dark">{{option_menu.submenu.length}}</span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let option_sub_menu of option_menu.submenu">
                            <a [routerLink]="option_sub_menu.route" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                               *ngIf="option_sub_menu.role_required === user?.role || user?.role === 'ADMIN_ROLE'">
                               {{option_sub_menu.title}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->