/* You can add global styles to this file, and also import other style files */

.color1{
    border: 2px solid green!important;
}
.color2{
    border: 2px solid yellow!important;
}
.color3{
    border: 2px solid blue!important;
}
.color4{
    border: 2px solid red!important;
}
.color5{
    border: 2px solid pink!important;
}

/* General
****************************************************************************************
*/

.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}
.ml-5{margin-left: 5rem;}

.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}
.mr-5{margin-right: 5rem;}

/* General /
****************************************************************************************
*/
.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor-pointer{
    cursor: pointer;
}