/* You can add global styles to this file, and also import other style files */

.color1{
    border: 2px solid green!important;
}
.color2{
    border: 2px solid yellow!important;
}
.color3{
    border: 2px solid blue!important;
}
.color4{
    border: 2px solid red!important;
}
.color5{
    border: 2px solid pink!important;
}

/* General
****************************************************************************************
*/

.ml-1{margin-left: 1rem;}
.ml-2{margin-left: 2rem;}
.ml-3{margin-left: 3rem;}
.ml-4{margin-left: 4rem;}
.ml-5{margin-left: 5rem;}

.mr-1{margin-right: 1rem;}
.mr-2{margin-right: 2rem;}
.mr-3{margin-right: 3rem;}
.mr-4{margin-right: 4rem;}
.mr-5{margin-right: 5rem;}

.td-img-table{ width: 35px; height: 35px; border-radius: 50%;}

/* General /
****************************************************************************************
*/

/* Header(open)
*****************************************************************************************/
.profile-pic{ width: 38px!important; height: 38px; }
.dropdown-user{ font-size: 14px; }
.dropdown-user > li > a > i{ padding-right: 5px; }
.topbar ul.dropdown-user li a { padding: 2px 15px; }
.dropdown-menu > .dropdown-user > li >.active{ color: #004daa; }
/* Header(close)
*****************************************************************************************/

/* Sidebar(open)
**************************************************************************************** */
.main-side-collapse{padding-left: 5px!important;}
.child-side-collapse{padding-left: 25px!important;}

.child-li{ display: flex; align-items: center;}
.child-li-a{ padding-left: 8px!important; }

.side-icon{ font-size: 15px!important; padding-bottom: 4px; }

.sidebar-nav > ul > li > a .label { margin-top: 0px;}
/* Sidebar(close)
*****************************************************************************************/
.fast{
    -webkit-animation-duration:0.3s;
    animation-duration:0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor-pointer{
    cursor: pointer;
}
