<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'passwordPage.title' | translate }}</h4>
                        <h6 class="card-subtitle">{{ 'passwordPage.subtitle' | translate }}</h6>
                        <form [formGroup]="passwordForm" class="form p-t-20" (submit)="updatePassword()">
                            <div class="form-group">
                                <label for="currentPasswordInput">{{ 'passwordPage.currentPW' | translate }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-user"></i></div>
                                    <input type="password" class="form-control" id="currentPasswordInput" formControlName="current_pw" placeholder="{{ 'passwordPage.currentPW' | translate }}">
                                </div>
                                <div *ngFor="let error of getControlErrors('current_pw', 'passwordPage.currentPW' | translate)">
                                    <small *ngIf="formSubmited" class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPasswordInput">{{ 'passwordPage.newPW' | translate }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input type="password" class="form-control" id="newPasswordInput" formControlName="new_pw" placeholder="{{ 'passwordPage.newPW' | translate }}">
                                </div>
                                <div *ngFor="let error of getControlErrors('new_pw', 'passwordPage.newPW' | translate )">
                                    <small *ngIf="formSubmited" class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmationPasswordInput">{{ 'passwordPage.confirmationPW' | translate }}</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-email"></i></div>
                                    <input type="password" class="form-control" id="confirmationPasswordInput" formControlName="conf_new_pw" placeholder="{{ 'passwordPage.confirmationPW' | translate }}">
                                </div>
                                <div *ngFor="let error of getControlErrors('conf_new_pw', 'passwordPage.confirmationPW' | translate)">
                                    <small *ngIf="formSubmited" class="text-danger">{{error}}</small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">{{ 'general.confirm' | translate }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>